<h3><%= t(".filter_by_missing_translations") %></h3>
<%= render 'locale_picker', :current_locale => params[:switch_locale] %>
<section id='records'>
  <%= render 'records' %>
</section>
<section id='actions'>
  <%= render 'actions' %>
</section>
